In [24]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

In [6]:
train_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p1/introML2018.task1.train.csv')
print(train_data.shape)

(1500000, 23)

In [7]:
test_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p1/introML2018.task1.test.csv')
print(test_data.shape)

(375000, 22)

In [8]:
sample_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p1/sampleSubmission.csv')
print(sample_data.shape)

(375000, 2)

In [9]:
sample_data.head()

   ID  label
0   1      0
1   2      1
2   3      2
3   4      0
4   5      2

In [10]:
test_data.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21
0,4.00000,1.89213,2.09919,2.05044,0.29981,1.66174,0.44152,0.12373,0.37383,0.10312,...,3.62446,1.07534,0.59250,0.13569,0.14543,1.45144,2.07674,0.38315,1.44309,1.07607
1,3.99998,1.48327,2.45191,1.75757,1.12735,0.95247,0.84612,0.16073,0.12226,0.85001,...,0.26826,2.19849,1.35233,0.08141,0.58661,0.45763,0.69132,0.77845,0.18939,0.93209
2,3.99997,1.98647,0.22216,0.38455,0.04232,0.11380,2.25513,2.06126,0.13411,0.52618,...,1.55622,0.05526,2.06418,0.52962,2.30707,0.05896,0.23060,0.44746,1.68390,0.81304
3,3.99995,0.71631,1.80291,1.82321,0.94204,0.78279,0.89048,0.34330,1.73132,0.08434,...,2.66293,1.27965,0.68256,0.12169,0.75461,1.67105,2.80341,0.47234,0.64005,0.98504
4,3.99994,1.65267,0.53647,0.19513,0.01890,0.40594,2.86953,0.58034,0.76008,0.40313,...,2.10473,0.51594,0.35598,2.16239,1.88948,0.30648,0.18542,0.22593,1.36096,0.95001

In [11]:
train_data.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,label
0,0.26817,1.13045,1.09382,0.85888,0.10089,1.21865,0.01583,2.34323,0.08813,0.49544,...,0.05205,1.58448,2.36328,1.22971,0.55453,0.20241,0.38913,1.45456,0.69864,0
1,2.45403,0.79397,0.75025,0.22614,0.03272,0.66577,1.39941,1.94778,0.79187,0.25556,...,0.45502,1.40500,0.75559,0.32766,0.74595,0.14747,1.19688,1.38945,0.78612,0
2,3.96213,0.41346,0.48027,1.00439,0.06023,1.26421,1.99353,0.74035,0.62849,0.31607,...,0.06308,1.25717,2.06412,2.16921,0.10359,0.29410,0.46045,0.73175,0.80820,0
3,3.32901,0.94426,0.16697,1.11070,0.06276,0.32128,3.04395,1.04180,0.18123,0.41950,...,0.45444,0.91814,0.53543,2.07778,0.19298,0.16019,2.21632,1.10792,0.86372,0
4,0.14856,0.75493,0.06123,1.64407,0.04401,0.82604,2.24679,2.13183,0.18370,0.20217,...,0.57805,0.51724,1.68297,2.38446,0.73934,0.26868,1.52466,0.29081,0.81992,0

In [12]:
train_data.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,label
count,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,...,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06,1.500000e+06
mean,2.001702e+00,1.100093e+00,9.000937e-01,9.171091e-01,5.001528e-01,1.166440e+00,1.049625e+00,1.149005e+00,1.133744e+00,9.672538e-01,...,7.825795e-01,9.337172e-01,8.011538e-01,9.826680e-01,9.170682e-01,1.200235e+00,1.017067e+00,1.465143e+00,9.845250e-01,1.000000e+00
std,1.154306e+00,6.569550e-01,5.621802e-01,8.274564e-01,4.819829e-01,7.952274e-01,9.708558e-01,1.042751e+00,8.679536e-01,8.753788e-01,...,5.731306e-01,5.713130e-01,6.883541e-01,8.457430e-01,8.974447e-01,1.104195e+00,8.059932e-01,9.574591e-01,1.413400e-01,8.164969e-01
min,0.000000e+00,0.000000e+00,1.000000e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.327400e-01,0.000000e+00
25%,1.002420e+00,5.535800e-01,4.426700e-01,2.643700e-01,6.507000e-02,5.198300e-01,2.337200e-01,2.839300e-01,4.250300e-01,3.256100e-01,...,3.144500e-01,4.612700e-01,2.205700e-01,2.735400e-01,3.134600e-01,1.907900e-01,3.495900e-01,6.960800e-01,8.888200e-01,0.000000e+00
50%,2.003160e+00,1.077870e+00,8.618200e-01,5.943400e-01,3.607600e-01,1.010370e+00,7.178400e-01,7.804250e-01,8.412900e-01,6.417900e-01,...,6.145200e-01,8.980800e-01,5.553900e-01,6.770300e-01,6.083200e-01,8.833000e-01,7.205700e-01,1.354060e+00,9.924800e-01,1.000000e+00
75%,3.001262e+00,1.588180e+00,1.275150e+00,1.417990e+00,8.669600e-01,1.760153e+00,1.727420e+00,1.872240e+00,1.808512e+00,1.352500e+00,...,1.231940e+00,1.344280e+00,1.333030e+00,1.626190e+00,1.073160e+00,2.125760e+00,1.657433e+00,2.079400e+00,1.084840e+00,2.000000e+00
max,4.000000e+00,4.254170e+00,4.503730e+00,5.594800e+00,3.667460e+00,5.161740e+00,6.968300e+00,6.916090e+00,5.672750e+00,6.095550e+00,...,4.032860e+00,4.122220e+00,4.280270e+00,5.567950e+00,6.317840e+00,6.796290e+00,5.377540e+00,7.244970e+00,1.572580e+00,2.000000e+00

In [13]:
x_data = train_data.drop('label', axis=1)
print(x_data.shape)

(1500000, 22)

In [14]:
y_data = train_data['label']
print(y_data.shape)

(1500000,)

In [15]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, random_state = 1)

/Users/DannyShau/anaconda/envs/py3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1125000, 22)
(375000, 22)
(1125000,)
(375000,)

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
print(model)

GaussianNB(priors=None)

In [18]:
model.fit(x_train, y_train)
print(model.score(x_train, y_train))

0.999887111111

In [19]:
y_model = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_model))

0.999893333333

In [22]:
def predict(i):
    print(i)
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data)
    model = GaussianNB()
    model.fit(x_train, y_train)
#     print(model.score(x_train, y_train))
    y_model = model.predict(x_test)
#     print(accuracy_score(y_test, y_model))
    result = model.predict(test_data)
    file_name = 'result/result' + str(i) +'.csv'
    with open(file_name, 'w', newline='') as csvfile:
        fieldnames = ['ID', 'label']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        for i, j in enumerate(result):
            writer.writerow({'ID': i+1, 'label': j})
    return model.score(x_train, y_train)

In [25]:
result_list = list()
for i in range(10):
    result_list.append(predict(i))
for i, j in enumerate(result_list):
    print(i, j)
print(max(result_list))

0
1
2
3
4
5
6
7
8
9
0 0.999882666667
1 0.999890666667
2 0.999888
3 0.999896888889
4 0.999897777778
5 0.999888888889
6 0.999888888889
7 0.999884444444
8 0.999889777778
9 0.999888888889
0.999897777778