In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

In [2]:
train_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p2/introML2018.task2.train.csv')

In [3]:
test_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p2/introML2018.task2.test.csv')

In [4]:
sample_data = pd.read_csv('/Users/dannyshau/.kaggle/competitions/introml2018p2/sampleSubmission.csv')

In [5]:
train_data.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,label
0,0.02386,0.82456,0.08113,1.13770,1.77629,0.48093,0.41941,2.00234,0.13464,0.10167,...,0.09632,0.29012,0.40304,0.27507,0.99323,0.85539,0.17412,0.16466,0.61362,0
1,0.60689,1.16695,0.71949,1.68549,1.93553,0.38855,0.42093,0.86326,0.05582,0.59490,...,0.10907,1.05918,0.66094,0.51118,0.07403,0.35904,1.22513,0.70050,0.57503,0
2,1.04418,1.96377,1.50347,0.64550,1.53785,0.00733,0.27813,0.52037,0.09712,0.06665,...,0.31087,1.27301,0.91902,0.61441,1.37005,0.98416,0.55757,1.15857,0.58404,0
3,0.93917,0.92883,1.20529,0.78370,1.85672,0.22691,0.61386,0.87615,0.12961,0.48326,...,0.08783,0.08064,0.63653,0.08340,0.70515,0.49470,1.14227,1.05842,0.41538,0
4,1.98728,0.23203,1.73746,1.81776,0.72044,0.41764,0.35106,1.35815,0.15380,0.77933,...,0.20881,1.36343,0.22559,0.16740,0.15397,0.80919,0.70656,0.10634,0.53938,0

In [6]:
train_data.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,label
count,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,...,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06,4.000000e+06
mean,9.998887e-01,1.000103e+00,1.000169e+00,9.997087e-01,1.000705e+00,5.388051e-01,5.254977e-01,5.287605e-01,5.193667e-01,5.151161e-01,...,5.390382e-01,5.132777e-01,5.192905e-01,5.315256e-01,5.364249e-01,5.311811e-01,5.229958e-01,5.201064e-01,5.273125e-01,2.000000e+00
std,5.775428e-01,5.772153e-01,5.772686e-01,5.773273e-01,5.773856e-01,4.591625e-01,4.436575e-01,4.460048e-01,4.427414e-01,4.414147e-01,...,4.570189e-01,4.396200e-01,4.478347e-01,4.553216e-01,4.488108e-01,4.545788e-01,4.473243e-01,4.458803e-01,9.385347e-02,1.414214e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.597900e-01,0.000000e+00
25%,4.996900e-01,5.007300e-01,5.004100e-01,4.994800e-01,5.006500e-01,1.608900e-01,1.593200e-01,1.622000e-01,1.573800e-01,1.563800e-01,...,1.623800e-01,1.519100e-01,1.538300e-01,1.570000e-01,1.673600e-01,1.607200e-01,1.576800e-01,1.567100e-01,4.624200e-01,1.000000e+00
50%,9.996000e-01,9.998600e-01,9.999600e-01,9.994800e-01,1.001040e+00,4.112300e-01,4.104800e-01,4.124500e-01,3.978300e-01,3.912000e-01,...,4.132900e-01,3.935300e-01,3.962200e-01,4.063300e-01,4.167700e-01,4.043900e-01,3.994200e-01,3.957000e-01,5.239200e-01,2.000000e+00
75%,1.500190e+00,1.499890e+00,1.500300e+00,1.499280e+00,1.501030e+00,8.174100e-01,7.897200e-01,7.910400e-01,7.814700e-01,7.749400e-01,...,8.196600e-01,7.757900e-01,7.772900e-01,8.043800e-01,8.099100e-01,7.984400e-01,7.861900e-01,7.822000e-01,5.887900e-01,3.000000e+00
max,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.427280e+00,3.806810e+00,3.546030e+00,3.235460e+00,3.416340e+00,...,3.571850e+00,3.526640e+00,3.346200e+00,3.404590e+00,3.548560e+00,4.120560e+00,3.597060e+00,3.839600e+00,1.048960e+00,4.000000e+00

In [7]:
test_data.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25
0,2.00000,1.06442,0.77321,1.16849,1.87359,1.13544,0.09184,0.45756,0.10005,2.29653,...,0.55389,0.13160,0.10331,0.48096,0.03414,0.50214,0.30140,0.22790,0.06455,0.31927
1,1.99999,1.20259,0.60255,0.27883,0.84276,1.17993,0.34912,1.24920,0.43843,0.41878,...,0.21055,0.23612,0.86681,0.85502,1.53058,0.22975,0.77923,0.21157,1.40290,0.63286
2,1.99999,1.94842,0.79279,1.14537,1.80051,0.18936,0.96881,0.23519,0.06599,0.18601,...,0.14093,0.26216,0.34096,0.21466,1.00160,0.03101,0.48096,0.31223,0.99971,0.40536
3,1.99999,1.33511,0.67608,1.29383,1.36955,0.70924,0.40953,0.08048,1.37038,0.16269,...,0.88953,0.29615,0.21003,0.70640,1.77972,0.40377,0.39024,0.63554,0.16779,0.53755
4,1.99999,1.27513,0.18669,1.11853,1.26307,0.05703,0.45338,0.48660,0.40169,0.15021,...,1.26752,0.10595,0.09888,0.36467,1.15981,0.04779,0.55197,0.99329,0.44994,0.48311

In [33]:
print(test_data.shape)

(1000000, 26)

In [8]:
sample_data.head()

   ID  label
0   1      1
1   2      2
2   3      4
3   4      0
4   5      3

In [9]:
x_data = train_data.drop('label', axis=1)
print(x_data.shape)

(4000000, 26)

In [10]:
y_data = train_data['label']
print(y_data.shape)

(4000000,)

In [11]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data)

/Users/DannyShau/anaconda/envs/py3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3000000, 26)
(1000000, 26)
(3000000,)
(1000000,)

In [25]:
def classification(model):
    print(model)
    model.fit(x_train, y_train)
    print(model.score(x_train, y_train))
    y_model = model.predict(x_test)
    from sklearn.metrics import accuracy_score
    print(accuracy_score(y_test, y_model))
    return model

In [30]:
def predict(model):
    print(model)
    result = model.predict(test_data)
    file_name = 'result.csv'
    with open(file_name, 'w', newline='') as csvfile:
        fieldnames = ['ID', 'label']
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        for i, j in enumerate(result):
            writer.writerow({'ID': i+1, 'label': j})
    return result

In [31]:
from sklearn.naive_bayes import GaussianNB
model = classification(GaussianNB())
result = predict(model)

GaussianNB(priors=None)
0.261821333333
0.261286
GaussianNB(priors=None)

In [32]:
print(result.shape)

(1000000,)

In [16]:
from sklearn.linear_model import LogisticRegression
model = classification(LogisticRegression())

0.260573333333
0.260362

In [ ]:
from sklearn import svm
model = classification(svm.SVC())
result = predict(model)
print(result.shape)

In [34]:
from sklearn import tree
model = classification(tree.DecisionTreeClassifier())
result = predict(model)
print(result.shape)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
1.0
0.422725
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
(1000000,)

None