In [2]:
import pandas as pd
import numpy as np

# 1. Load data

In [3]:
train = pd.read_csv('train_data.csv')
# train

In [4]:
test = pd.read_csv('test_data.csv')
# test

In [5]:
valid = pd.read_csv('validation_data.csv')
# valid[valid['rating'] == 1]

In [6]:
item = pd.read_csv('item_fea.csv')
# item

In [7]:
user = pd.read_csv('user_fea.csv')
# user

In [8]:
link = pd.read_csv('links.csv')
# link

In [9]:
sample = pd.read_csv('sample_solution_data.csv')
# sample

# 2. Cluster items

In [11]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=200, random_state=0).fit(item)
item_cluster = kmeans.labels_
# item_cluster

# 3. Weight items

In [13]:
item_dict = dict()
for i in train[train['user_id'] == 0]['item_id']:
    if item_cluster[i] in item_dict:            
        item_dict[item_cluster[i]] += 10
    else:
        item_dict[item_cluster[i]] = 10  
# item_dict

# 4. Link other users

In [14]:
link_list = list()
for i in link[link['src'] == 0]['des']:
    link_list.append(i)
# link_list

# 5. Weight items

In [15]:
for j in link_list:
    for i in train[train['user_id'] == j]['item_id']:
        if item_cluster[i] in item_dict:            
            item_dict[item_cluster[i]] += 1
        else:
            item_dict[item_cluster[i]] = 1   
# item_dict

# 6. Test data

In [16]:
recommender_dict = dict()
for i in test[test['user_id'] == 0]['item_id']:
    if item_cluster[i] in item_dict:
        recommender_dict[i] = item_dict[item_cluster[i]]
# recommender_dict

# 7. Sort data

In [17]:
sort_orders = sorted(recommender_dict.items(), key=lambda x: x[1], reverse=True)
# sort_orders

In [18]:
user_id_list = list()
item_id_list = list()

In [19]:
for i in sort_orders[:10]:
    user_id_list.append(0)
    item_id_list.append(i[0])

In [20]:
# user_id_list

In [21]:
# item_id_list

In [19]:
def predict(user_id):
    
    item_dict = dict()
    for i in train[train['user_id'] == user_id]['item_id']:
        if cluster[i] in item_dict:            
            item_dict[cluster[i]] += 10
        else:
            item_dict[cluster[i]] = 10 
            
    link_list = list()
    for i in link[link['src'] == user_id]['des']:
        link_list.append(i)
    for j in link_list:
        for i in train[train['user_id'] == j]['item_id']:
            if cluster[i] in item_dict:            
                item_dict[cluster[i]] += 1
            else:
                item_dict[cluster[i]] = 1          
    

    recommender_dict = dict()
    for i in test[test['user_id'] == user_id]['item_id']:
        if cluster[i] in item_dict:
            recommender_dict[i] = item_dict[cluster[i]]
    
    sort_orders = sorted(recommender_dict.items(), key=lambda x: x[1], reverse=True)
    
    i = 0
    while len(sort_orders) < 10:
        sort_orders.append([test[test['user_id'] == user_id]['item_id'].tolist()[i]])
        i += 1
        
    for i in sort_orders[:10]:
        user_id_list.append(user_id)
        item_id_list.append(i[0])

In [20]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=10, random_state=0).fit(item)
cluster = kmeans.labels_

In [21]:
user_id_list = list()
item_id_list = list()

In [22]:
for i in range(2239):
    predict(i)

In [23]:
df = pd.DataFrame(list(zip(user_id_list, item_id_list)), columns = ['user_id', 'item_id'])

In [24]:
df.head(50)

    user_id  item_id
0         0      156
1         0      150
2         0      144
3         0      135
4         0      123
5         0      117
6         0       81
7         0       44
8         0      640
9         0      575
10        1      143
11        1      138
12        1       87
13        1      618
14        1      578
15        1      563
16        1      541
17        1      523
18        1      483
19        1      442
20        2      201
21        2      193
22        2      179
23        2      160
24        2      133
25        2       97
26        2       95
27        2       82
28        2       76
29        2       14
30        3      149
31        3      119
32        3      107
33        3       65
34        3       62
35        3       52
36        3       48
37        3       33
38        3       21
39        3      869
40        4      203
41        4      169
42        4      129
43        4      115
44        4      104
45        4       65
46        4       43
47        4       16
48        4      596
49        4      578

In [25]:
df.to_csv('output.csv', index=False) # cluster 100 is better than 200