In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('train_data.csv')

In [4]:
train

       user_id  item_id  rating
0            0        0       1
1            0        1       1
2            0        2       1
3            0        3       1
4            0        4       1
...        ...      ...     ...
28444     2238     1127       1
28445     2238     1920       1
28446     2238     2006       1
28447     2238      428       1
28448     2238     1290       1

[28449 rows x 3 columns]

In [6]:
test = pd.read_csv('test_data.csv')

In [7]:
test

        user_id  item_id
0             0     2158
1             0     2113
2             0     2070
3             0     2026
4             0     1948
...         ...      ...
223895     2238       53
223896     2238       37
223897     2238       27
223898     2238       18
223899     2238       18

[223900 rows x 2 columns]

In [8]:
valid = pd.read_csv('validation_data.csv')

In [9]:
valid

        user_id  item_id  rating
0             0       43       1
1             0     1102       0
2             0      815       0
3             0      739       0
4             0     1637       0
...         ...      ...     ...
223895     2238     1995       0
223896     2238     1642       0
223897     2238      600       0
223898     2238      982       0
223899     2238     2083       0

[223900 rows x 3 columns]

In [16]:
valid.head(50)

    user_id  item_id  rating
0         0       43       1
1         0     1102       0
2         0      815       0
3         0      739       0
4         0     1637       0
5         0     1987       0
6         0     1107       0
7         0      914       0
8         0     1641       0
9         0      841       0
10        0     1583       0
11        0      698       0
12        0      893       0
13        0     1905       0
14        0     1101       0
15        0      188       0
16        0      834       0
17        0     1834       0
18        0      127       0
19        0     1803       0
20        0      866       0
21        0     1687       0
22        0      206       0
23        0     1872       0
24        0     1566       0
25        0      260       0
26        0     1023       0
27        0     1923       0
28        0       78       0
29        0      811       0
30        0     1178       0
31        0      972       0
32        0       53       0
33        0     1645       0
34        0      197       0
35        0      147       0
36        0     2087       0
37        0     1063       0
38        0     1002       0
39        0      776       0
40        0     1921       0
41        0      223       0
42        0      376       0
43        0     1036       0
44        0     1207       0
45        0     1927       0
46        0     1882       0
47        0       98       0
48        0     1272       0
49        0      416       0

In [25]:
valid[(valid['user_id'] == 0) & (valid['rating'] == 1)]

   user_id  item_id  rating
0        0       43       1

In [26]:
valid[(valid['rating'] == 1)]

        user_id  item_id  rating
0             0       43       1
100           1       86       1
200           2       94       1
300           3      106       1
400           4      114       1
...         ...      ...     ...
223400     2234     1093       1
223500     2235     2124       1
223600     2236       56       1
223700     2237      106       1
223800     2238      345       1

[2239 rows x 3 columns]

In [28]:
output = valid[(valid['rating'] == 1)][['user_id', 'item_id']]

In [29]:
output.to_csv('output.csv', index=False)

In [30]:
output

        user_id  item_id
0             0       43
100           1       86
200           2       94
300           3      106
400           4      114
...         ...      ...
223400     2234     1093
223500     2235     2124
223600     2236       56
223700     2237      106
223800     2238      345

[2239 rows x 2 columns]

In [32]:
user = output['user_id']

In [33]:
user

0            0
100          1
200          2
300          3
400          4
          ...
223400    2234
223500    2235
223600    2236
223700    2237
223800    2238
Name: user_id, Length: 2239, dtype: int64

In [41]:
item = output['item_id']

In [42]:
item

0           43
100         86
200         94
300        106
400        114
          ...
223400    1093
223500    2124
223600      56
223700     106
223800     345
Name: item_id, Length: 2239, dtype: int64

In [37]:
user_list = list()

In [38]:
for i in user:
    for j in range(10):
        user_list.append(i)

In [39]:
user_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 56,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 61,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 63,
 63,
 63,
 63,
 63,
 63,
 63,
 63,
 63,
 63,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 67,
 67,
 67,
 67,
 67,
 67,
 67,
 67,
 67,
 67,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 68,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 69,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 70,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 72,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 73,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 75,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 76,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 79,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 80,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 82,
 82,
 82,
 82,
 82,
 82,
 82,
 82,
 82,
 82,
 83,
 83,
 83,
 83,
 83,
 83,
 83,
 83,
 83,
 83,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 84,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 85,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 87,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 88,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 89,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 90,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 91,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 92,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 95,
 95,
 95,
 95,
 95,
 95,
 95,
 95,
 95,
 95,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 96,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 97,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 98,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 99,
 ...]

In [45]:
item_list = list()

In [46]:
for i in item:
    for j in range(10):
        item_list.append(i)

In [47]:
item_list

[43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 94,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 106,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 114,
 129,
 129,
 129,
 129,
 129,
 129,
 129,
 129,
 129,
 129,
 163,
 163,
 163,
 163,
 163,
 163,
 163,
 163,
 163,
 163,
 195,
 195,
 195,
 195,
 195,
 195,
 195,
 195,
 195,
 195,
 202,
 202,
 202,
 202,
 202,
 202,
 202,
 202,
 202,
 202,
 173,
 173,
 173,
 173,
 173,
 173,
 173,
 173,
 173,
 173,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 103,
 232,
 232,
 232,
 232,
 232,
 232,
 232,
 232,
 232,
 232,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 240,
 247,
 247,
 247,
 247,
 247,
 247,
 247,
 247,
 247,
 247,
 253,
 253,
 253,
 253,
 253,
 253,
 253,
 253,
 253,
 253,
 261,
 261,
 261,
 261,
 261,
 261,
 261,
 261,
 261,
 261,
 279,
 279,
 279,
 279,
 279,
 279,
 279,
 279,
 279,
 279,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 93,
 304,
 304,
 304,
 304,
 304,
 304,
 304,
 304,
 304,
 304,
 314,
 314,
 314,
 314,
 314,
 314,
 314,
 314,
 314,
 314,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 327,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 339,
 350,
 350,
 350,
 350,
 350,
 350,
 350,
 350,
 350,
 350,
 358,
 358,
 358,
 358,
 358,
 358,
 358,
 358,
 358,
 358,
 362,
 362,
 362,
 362,
 362,
 362,
 362,
 362,
 362,
 362,
 370,
 370,
 370,
 370,
 370,
 370,
 370,
 370,
 370,
 370,
 382,
 382,
 382,
 382,
 382,
 382,
 382,
 382,
 382,
 382,
 388,
 388,
 388,
 388,
 388,
 388,
 388,
 388,
 388,
 388,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 400,
 406,
 406,
 406,
 406,
 406,
 406,
 406,
 406,
 406,
 406,
 423,
 423,
 423,
 423,
 423,
 423,
 423,
 423,
 423,
 423,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 492,
 492,
 492,
 492,
 492,
 492,
 492,
 492,
 492,
 492,
 496,
 496,
 496,
 496,
 496,
 496,
 496,
 496,
 496,
 496,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 545,
 545,
 545,
 545,
 545,
 545,
 545,
 545,
 545,
 545,
 552,
 552,
 552,
 552,
 552,
 552,
 552,
 552,
 552,
 552,
 560,
 560,
 560,
 560,
 560,
 560,
 560,
 560,
 560,
 560,
 179,
 179,
 179,
 179,
 179,
 179,
 179,
 179,
 179,
 179,
 579,
 579,
 579,
 579,
 579,
 579,
 579,
 579,
 579,
 579,
 589,
 589,
 589,
 589,
 589,
 589,
 589,
 589,
 589,
 589,
 598,
 598,
 598,
 598,
 598,
 598,
 598,
 598,
 598,
 598,
 611,
 611,
 611,
 611,
 611,
 611,
 611,
 611,
 611,
 611,
 614,
 614,
 614,
 614,
 614,
 614,
 614,
 614,
 614,
 614,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 631,
 631,
 631,
 631,
 631,
 631,
 631,
 631,
 631,
 631,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 637,
 642,
 642,
 642,
 642,
 642,
 642,
 642,
 642,
 642,
 642,
 654,
 654,
 654,
 654,
 654,
 654,
 654,
 654,
 654,
 654,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 691,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 710,
 710,
 710,
 710,
 710,
 710,
 710,
 710,
 710,
 710,
 716,
 716,
 716,
 716,
 716,
 716,
 716,
 716,
 716,
 716,
 729,
 729,
 729,
 729,
 729,
 729,
 729,
 729,
 729,
 729,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 81,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 755,
 755,
 755,
 755,
 755,
 755,
 755,
 755,
 755,
 755,
 767,
 767,
 767,
 767,
 767,
 767,
 767,
 767,
 767,
 767,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 732,
 788,
 788,
 788,
 788,
 788,
 788,
 788,
 788,
 788,
 788,
 369,
 369,
 369,
 369,
 369,
 369,
 369,
 369,
 369,
 369,
 805,
 805,
 805,
 805,
 805,
 805,
 805,
 805,
 805,
 805,
 812,
 812,
 812,
 812,
 812,
 812,
 812,
 812,
 812,
 812,
 172,
 172,
 172,
 172,
 172,
 172,
 172,
 172,
 172,
 172,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 305,
 305,
 305,
 305,
 305,
 305,
 305,
 305,
 305,
 305,
 826,
 826,
 826,
 826,
 826,
 826,
 826,
 826,
 826,
 826,
 413,
 413,
 413,
 413,
 413,
 413,
 413,
 413,
 413,
 413,
 456,
 456,
 456,
 456,
 456,
 456,
 456,
 456,
 456,
 456,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 62,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 875,
 875,
 875,
 875,
 875,
 875,
 875,
 875,
 875,
 875,
 699,
 699,
 699,
 699,
 699,
 699,
 699,
 699,
 699,
 699,
 884,
 884,
 884,
 884,
 884,
 884,
 884,
 884,
 884,
 884,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 385,
 903,
 903,
 903,
 903,
 903,
 903,
 903,
 903,
 903,
 903,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 921,
 921,
 921,
 921,
 921,
 921,
 921,
 921,
 921,
 921,
 930,
 930,
 930,
 930,
 930,
 930,
 930,
 930,
 930,
 930,
 527,
 527,
 527,
 527,
 527,
 527,
 527,
 527,
 527,
 527,
 688,
 688,
 688,
 688,
 688,
 688,
 688,
 688,
 688,
 688,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 393,
 393,
 393,
 393,
 393,
 393,
 393,
 393,
 393,
 393,
 976,
 976,
 976,
 976,
 976,
 976,
 976,
 976,
 976,
 976,
 599,
 599,
 599,
 599,
 599,
 599,
 599,
 599,
 599,
 599,
 504,
 504,
 504,
 504,
 504,
 504,
 504,
 504,
 504,
 504,
 991,
 991,
 991,
 991,
 991,
 991,
 991,
 991,
 991,
 991,
 467,
 467,
 467,
 467,
 467,
 467,
 467,
 467,
 467,
 467,
 391,
 391,
 391,
 391,
 391,
 391,
 391,
 391,
 391,
 391,
 1008,
 1008,
 1008,
 1008,
 1008,
 1008,
 1008,
 1008,
 1008,
 1008,
 1014,
 1014,
 1014,
 1014,
 1014,
 1014,
 1014,
 1014,
 1014,
 1014,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 878,
 982,
 982,
 982,
 982,
 982,
 982,
 982,
 982,
 982,
 982,
 1026,
 1026,
 1026,
 1026,
 1026,
 1026,
 1026,
 1026,
 1026,
 1026,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 502,
 1039,
 1039,
 1039,
 1039,
 1039,
 1039,
 1039,
 1039,
 1039,
 1039,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 ...]

In [ ]:
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'], 
                                              columns =['Names'])